.ColorPicker {
  margin-left: 20px;

  .cp-upper {
    display: flex;
    justify-content: space-between;
  }

  .bar {
    width: $color-bar-width;
    height: $color-bar-height;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: $vertical-spacing;
    cursor: pointer;
    border: $classic-border;

    .thumb {
      width: $color-bar-height - 2;
      height: $color-bar-height - 2;
      position: absolute;
      background-color: white;
      border: $classic-border;
      border-radius: 50%;
    }
  }

  .stats {
    width: $color-bar-width;
    display: flex;
    justify-content: space-around;
    margin-top: $vertical-spacing;
    user-select: none;

    .stat-input {
      display: flex;
      align-items: center;

      .stat-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .stat-label {
        font-size: $detail-font-size;
      }

      input {
        outline: none;
        width: 25px;
        font-size: $detail-font-size;
        padding: $detail-font-padding;
        margin: 1px 2px 1px 3px;
        text-align: center;

        &::selection {
          background: none;
        }
      }
    }
  }

  .output {
    width: $color-bar-width;
    display: flex;
    justify-content: space-between;
    margin-top: $vertical-spacing;

    .main-swatch {
      width: $main-swatch-width;
      height: $main-swatch-height;
      border: $classic-border;
      display: flex;

      .hsl {
        width: $main-swatch-width / 2;
        height: $main-swatch-height;
      }

      .hsla {
        width: $main-swatch-width / 2;
        height: $main-swatch-height;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: $detail-font-size;
          z-index: -1;

          &::selection {
            background: none;
          }
        }
      }
    }

    .formats {
      height: $main-swatch-height;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        width: $main-swatch-width;
        padding: $detail-font-padding;
        margin-right: 5px;
        font-size: $detail-font-size;
        text-align: center;

        &::selection {
          background: none;
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px 0 0;
  }
}
