.Options {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;

  .middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;

    .outline-color {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: -14px;
    }
  }

  .bottom {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;

    .button {
      margin-left: 10px;
    }
  }
}
