@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';
@import 'ColorPicker';
@import 'Options';
@import 'SavedColors';
@import 'Dropper';
@import 'Palettes';
@import 'Documentation';

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --crosshair: crosshair;
}

.Main {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-left: 1px solid lightgrey;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
